
<% provide(:title, "Courses") %>

<div class="container search">

   <form name="search" remote: "true" action=<%=search_results_path%>>
                 <label for="filter">Filter by Subject</label>
                 <%= text_field_tag :search, "", onkeyup: 'AJAXSearchForm();' %>
                <%#= text_field_tag(:search, value ="",class: "form-control",  onkeyup:"AJAXSearchForm();") %>
                 <%= collection_select :subject, :id, Subject.all.sort_by{|n| n.name}, :id, :name, {:include_blank => "All Subjects"}, {onchange:"AJAXSearchForm();"}%>
                 <%= text_field_tag :search, "", onchange: 'AJAXSearchForm();' %>
               <button type="submit", id ="button-submit", class="btn btn-primary search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
             </form>
<div id="search_results">


</div>
